<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notificación Comité de Ética</title>
</head>
<body>
<h2>Notificación automática - Comité de Ética de CENACE:</h2>

<p>Este mail ha sido enviado automáticamente debido a que se ha generado un nuevo trámite en
    el sistema de Comité de Ética de CENACE.</p>
<br>
<p> El <b>código de requerimiento</b> es <span style="color:red">#codigo_tramite</span>. Este código será indispensable para
    las siguientes interacciones con el sistema. Por favor, guarde este código para realizar las siguientes interacciones.
</p>
<p>A continuación los datos que han sido ingresados en la plataforma:</p>
<h3>#tipo_tramite</h3>
<table>
    <tr>
        <td><b>Nombres y apellidos:</b></td>
        <td>#nombres</td>
     </tr>
    <tr>
<td><b>Cédula de ciudadanía:</b></td>
<td>#c_ciudadania</td>
        </tr>
    <tr>
<td><b>Cargo:</b></td>
<td>#cargo</td>
        </tr>
    <tr>
<td><b>Teléfono de contacto:</b></td>
<td>#telefono</td>
        </tr>
    </table>
<h3>Detalle del trámite:</h3>
<p>#detalle</p>
<p>Archivos adjuntos:</p>
<p>#archivos</p>


</body>
</html>