<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notificación Comité de Ética - Timeline</title>
</head>
<body>
<h2>Notificación automática - Comité de Ética de CENACE:</h2>

<p>Este mail ha sido enviado automáticamente debido a que se ha realizado un cambio de estado del siguiente trámite:</p>
<br>
<p> Su <b>código de requerimiento</b> es <span style="color:red">#codigo_tramite</span>. Este código es indispensable para
    las siguientes interacciones con el sistema. Por favor, guarde este código para continuar con su interacción.
</p>
<p>A continuación los datos del trámite:</p>
<h3>#tipo_tramite</h3>
<table>
    <tr>
        <td><b>Nombres y apellidos:</b></td>
        <td>#nombres</td>
     </tr>
    <tr>
<td><b>Cédula de ciudadanía:</b></td>
<td>#c_ciudadania</td>
        </tr>
    <tr>
<td><b>Cargo:</b></td>
<td>#cargo</td>
        </tr>
    <tr>
<td><b>Teléfono de contacto:</b></td>
<td>#telefono</td>
        </tr>
    </table>
<h3>Detalle del trámite:</h3>
<p>#detalle</p>
<p>Archivos adjuntos:</p>
<p>#archivos</p>

<h3>Estado actual del trámite:</h3>
<h2>#estado</h2>
<p>Consulte el estado del trámite en el siguiente enlace: <a href="#enlace_consulta">Enlace de consulta</a></p>

</body>
</html>