/_db/mongo_db
/mongo_db
/_db/files
/logs
/.idea/
/.vscode
/_db
/_MongoDB/mongo_db
/_MongoDB/logs
/temp
/flask_app/settings/env/dev.py
/flask_app/settings/env/prod.py
/Production_server_1.txt
/venv/
__pycache__/
*.pyc